* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Helvetica Neue";
    background-color: #f4f4f5;
}

body > div {
    margin: auto;
}

/* Block */
.btn {
    display: inline-block;
    text-decoration: none;
    border: none;
    background-color: transparent;
    color: #fff;
    min-width: 140px;
    padding: 12px 48px;
    border-radius: 50px;
    cursor: pointer;
    transition: opacity 0.2s ease;
}

.btn:hover {
    opacity: 0.8;
}

.btn + .btn {
    margin-left: 16px;
}

.btn--size-s {
    padding: 8px 32px;
}

.btn--size-l {
    padding: 16px 56px;
}

.btn--success {
    background-color: #71be34;
}

.btn--warning {
    background-color: #ffb702;
}

.btn--danger {
    background-color: #ff623d;
}

.btn--disabled {
    opacity: 0.5 !important;
    cursor: default;
}